.form {
  margin-left: 40vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-top: 10vh;
}
.form > input {
  height: 5vh;
  width: 20vw;
}
.Allform > h1 {
  text-align: center;
}
.footer {
  margin-top: 20vh;
}
.resulTformH {
  text-align: center;
}
.resulTform {
  gap: 3vh;
  margin-top: 3vh;
  height: 23vh;
  width: 20vw;
  margin-left: 85vh;
  /* border: 1px solid black; */
  background-color: #f2f2f2;
  padding: 3vh;
}
.resulTformButton,
.Register {
  height: 7vh;
  width: 18vw;
  border: none;
  background-color: #5c47d3;
  color: white;
  font-weight: 800;
}
.resulTformButton {
  margin-left: 91vh;
  margin-top: 3vh;
}
.footer {
  margin-top: 20vh;
  margin-left: 90vh;
  font-size: 12px;
}
